#root {
  display: grid;
  grid-template-areas: "nav main";
  grid-template-rows: auto;
  grid-template-columns: 200px 540px;
  grid-gap: 5px;
  justify-content: center;
}

nav {
  grid-area: nav;
  padding: 20px;
}

main {
  grid-area: main;
  padding: 20px;
}

table {
  margin-right: auto;
  margin-left: auto;
}

.datelabel {
  text-align: right;
}

.round {
  width: 50px;
}

.wd0 {
  color: red;
}

.wd6 {
  color: blue;
}
